on:
  push:
    branches:
      - dev        # The default branch
      - branch-* 
name: Main Workflow
jobs:
  sonarQubeTrigger:
    name: SonarQube Trigger
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    # - name: Install npm dependencies
    #   run: npm install

    - name: Check out my other private repo
      uses: actions/checkout@master
      with:
        repository: tericsoft-services/vitawerks_automation 
        token: ${{ secrets.my_pat }}
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Cache Maven packages
      uses: actions/cache@v1
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
    - name: list
      run: mvn test -Dtest=Pipeline1_Api_Smoke    

        
    

 
    # - name: Check out my other private repo
    #   uses: actions/checkout@master
    #   with:
    #     repository: tericsoft-services/vitawerks_automation 
    #     token: ${{ secrets.my_pat }}    
           
    # - uses: actions/checkout@master
    #   with:
    #     name: tericsoft-services/vitawerks_automation     
    #     run: |
    #       maven install
    #       mvn test -Dtest=Pipeline1_Api_Smoke mvn test -Dtest=Pipeline1_Web_Smoke


       
    # - name: SonarQube Scan
    #   uses: kitabisa/sonarqube-action@v1.1.0
    #   with:
    #     host: ${{ secrets.SONARQUBE_HOST }}
    #     token: ${{ secrets.SONAR_TOKEN}}
    #     # path: ${{secrets.SONAR_PATH}}
    #     key: ${{secrets.SONAR_PROJECTKEY}}
    #     login: ${{secrets.SONAR_LOGIN}}
    #     password: ${{secrets.SONAR_PASSWORD}}