on:
  push:
    branches:
      - dev        # The default branch
      - branch-* 
name: Main Workflow
jobs:
  sonarQubeTrigger:
    name: SonarQube Trigger
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Install npm dependencies
      run: npm install

    - uses: actions/checkout@master
      with:
        name: tericsoft-services/vitawerks_automation     <-- clone https://github.com/org1/repo1
        run: |
          maven install
          mvn test -Dtest=Pipeline1_Api_Smoke mvn test -Dtest=Pipeline1_Web_Smoke


       
    # - name: SonarQube Scan
    #   uses: kitabisa/sonarqube-action@v1.1.0
    #   with:
    #     host: ${{ secrets.SONARQUBE_HOST }}
    #     token: ${{ secrets.SONAR_TOKEN}}
    #     # path: ${{secrets.SONAR_PATH}}
    #     key: ${{secrets.SONAR_PROJECTKEY}}
    #     login: ${{secrets.SONAR_LOGIN}}
    #     password: ${{secrets.SONAR_PASSWORD}}