on:
  push:
    branches:
      - dev        # The default branch
      - branch-* 
name: Main Workflow
jobs:
  sonarQubeTrigger:
    name: SonarQube Trigger
    runs-on: ubuntu-latest
    steps:
    - name: Check out my other private repo
      uses: actions/checkout@master
      with:
        repository: tericsoft-services/vitawerks_automation 
        token: ${{ secrets.my_pat }}
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1 # Setup JAVA
      with:
        java-version: 1.8
    - name: Install Google Chrome # Using shell script to install Google Chrome
      run: |
        chmod +x ./InstallChrome.sh
        ./InstallChrome.sh
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11

    - name: Cache Maven packages
      uses: actions/cache@v1
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
    - name: Run tests  
      run: mvn test -Dtest=Pipeline1_Web_Smoke  
    - name: deploy to server
      if: always()
      uses: AEnterprise/rsync-deploy@v1.0
      env:
        DEPLOY_KEY: ${{ secrets.ACL_PEM }}
        ARGS: "-e -c -r --delete"
        SERVER_PORT: 22
        FOLDER: reports
        SERVER_IP: ${{ secrets.ACL_IP }}
        USERNAME: ubuntu
        SERVER_DESTINATION: /var/www/test2/
    - name: run script
      if: always()
      id: testreports
      run: | 
        for dir1 in ./reports/* 
        do 
          var1=$(basename "$dir1")
          echo $var1
          echo "::set-output name=date::${var1}"
        done
        for dir2 in $dir1/* 
        do 
          var2=$(basename "$dir2")
          echo $var2
          echo "::set-output name=timestamp::${var2}"
        done
      
    - name: run  script in the server
      if: always()
      uses: garygrossgarten/github-action-ssh@release
      with:
        command: |
          cd /var/www/test2/
          sh reports.sh
        host: ${{ secrets.ACL_IP}}
        username: ubuntu
        privateKey: ${{ secrets.ACL_PEM}}
    - name: run  script in the server
      if: always()
      uses: garygrossgarten/github-action-ssh@release
      with:
        command: |
          cd /var/www/test2/
          sh reports.sh
        host: ${{ secrets.ACL_IP}}
        username: ubuntu
        privateKey: ${{ secrets.ACL_PEM}}

    - name: Slack Notification
      if: always()
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_CHANNEL: general
        # SLACK_COLOR: ${{ job.status }} # or a specific color like 'good' or '#ff00ff'
        # SLACK_ICON: https://github.com/rtCamp.png?size=48
        SLACK_MESSAGE: test2.teric.services/reports/${{ steps.testreports.outputs.date }}/${{ steps.testreports.outputs.timestamp }}/
        # SLACK_TITLE: Post Title
        # SLACK_USERNAME: 
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }} 